:root {
    --color1: #1c3461;
    --color2: #f8cc5c;
    --color3: #a9b4c8; /* color for subtitle */
    --color4: #FEFEFE; /* color for more detail */
    --color5: #f5f8fe; /* background create */
    --color6: #1c3461;
    --color7: #f79ea0; /* out border */
    --color8: #ffd5d0; /* in border */
}

header {
    margin: 1cm 3cm 0 3cm;
    padding: 0 0 10px 0;
    border-bottom: double;
    border-width: 5px;
    border-color: var(--color2);
}

body {
    margin: 1cm auto;
    background-color: var(--color1);
    font-family: raleway;
}

p, h1, h2, h3, h4, h5 {
    color: white;
}

h1 {
    font-size: 84px;
    font-weight: 900;
    margin: 0;
}

h3 {
    font-size: 30px;
    font-style: italic;
    font-weight: 50;
    color: var(--color3);
    margin: 0;
}

h4 {
    font-size: 25px;
    font-style: italic;
    font-weight:lighter;
    color: var(--color3);
    margin: 0;
}

p {
    text-align: justify;
}

.title {
    color: var(--color2);
    margin: 15px 0 0 0;
}

.author {
    margin: 0 0 15px 0;
    font-size: 25px;
}

.description {
    font-size: 22px;
    color: var(--color3);
    font-family: 'Times New Roman', Times, serif;
}

*{
    transition:all 0.2s ease-in-out;
}

.container {
    clear: both;
    overflow: auto;
}

.logo img{
    float: left;
}
nav {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    font-family: raleway;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

header ul a:hover{
    background-color: white;
    color: black;
}

.active {
    background-color: var(--color2);
    color: white;
}

.textbyimage {
    display: flex;
    align-items: center;
    justify-content: center
}
  
.image {
    flex-basis: 40%
}
  
.text {
    font-size: 20px;
    padding-left: 20px;
}

.moredetail {
    color: var(--color4);
    font-size: 20px;
    margin-left: 50px;
}
.moredetail a{
    text-decoration: none;
    color: var(--color4);
}
.moredetail a:hover {
    background-color: var(--color2);
    color: black;
    border-radius: 5px;
}

h4 i {
    color: var(--color2);
    font-weight: 700;
    padding: 50px 0 0 0;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    background: rgb(17, 17, 58);
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #fff;
    border-top: double;
    border-color: white;
    border-width: 5px;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: var(--color2);
}
footer div p {
    max-width: 1000px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 1.5em;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}
.socials a i {
    font-size: 2rem;
    transition: color .4s ease;

}
.socials a:hover i {
    color: var(--color2);
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 1.2em;
    word-spacing: 2px;
    text-transform: capitalize;
    margin: auto;
    text-align: center;
}
.footer-bottom span {
    text-transform: uppercase;
    color: yellow;
    opacity: .5;
    font-weight: 200;
}